@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,900,700&display=swap');
.parent {
    background-color: white;
    position: relative;
}



.ring-move {
              
    position:absolute;
    top: 5px;
  }



  
  nav {
    position: fixed;
    top: 0;
    height: 90px;
    background: rgb(255,255,255);
    width: 100%;
    padding: 0px;
    transition: all .3 ease;
    box-shadow: 0 1px 25px rgba(0, 0, 0, .1);
    

}

body {
    position: relative;
margin: 0;
padding: 0;
background-color: rgb(255, 255, 255);



position: relative;

}



html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}



.ul1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: white;
    position: relative;
    overflow: hidden;
    /* Add the following lines */
    display: flex;
    justify-content: space-around;
    align-items: center;

}


li {
    float: left;
    display: inline;
}

a {
    display: block;
    padding: 24px 32px 24px 0px;
    background-color: white;
    color: #1B1B3D;
    text-decoration: none;
    font-size: 20px;
    font-family: Poppins, sans-serif;     
}

a:hover {
    color: darkorange;
    background-color: white;
}


.nav-move {

position: relative;
right: 10%;
top: -5px;
}

.bnr {
position: relative;
left: 8.5%;
top: 8px;
}


.Get {
border: none;
background-color: white;
position: relative;
left: 20%;
top: 7px;

}


.button-style {
    background-color: #1B1B3D;
    color: white;
    width: 120px;
    height: 37px;
    position: relative;
    top: 60px;
    right: 9.5%;
    border-radius: 5px ;
    font-size: 16px;
    text-align: center;
    font-family: Poppins,sans-serif;
    font-weight: 500;
  }


  .faq {
    position: relative;
    top: 9.8px;
    text-align: center;
    color: #212140;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 74.78px;
    margin-bottom: 24px;
    font-family: 'Poppins', sans-serif;
  }


  


.font {
font-size: 19px;
font-weight: 600;
}


.b-p {
    position: relative;
    top: -12px;
}



@keyframes slider {
    from {
      transform: translateY(0%);
  
  
  
    }
  
    to {
      transform: translateY(180%);
    
  
  
    }
  }
  
  
  .head2 {
    animation-name:slider ;
    animation-duration:1s;    
    animation-fill-mode: forwards;
    
  
  }


  .img {
    max-width: 22%;
    position: relative;
    left: 63.5%;
    top: -110px;
  }

  .dots {
    max-width: 100%;
    height: auto;
    position: absolute;
    left: 30%;
    }


  .col-move {
    z-index: -1;
    position: relative;
    top: -300px;
  }
  
  
.h1-style {
    color: rgb(255, 13,104);
    font-family: 'Poppins', sans-serif;
    font-size: 44px;
    font-weight: 700;
}

.h1-style2 {
    font-size: 2.5rem;
    color: rgb(27, 27, 61);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-transform: initial;
    line-height: 1.3;
}

.h1-move {
    position: relative;
    left: 12%;
    top: 50px;
}

